<!DOCTYPE html>
<html>
<head>
	<title>Loginapp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          

          {{#if user}}
          	<li class="nav-item ">
            	<a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
          	</li>
            <li class="nav-item">
              <a class="nav-link" href="/users/addpost">Add Post</a>
            </li>
          	<li class="nav-item">
            	<a class="nav-link" href="/users/logout">Logout</a>
          	</li>
          {{else}}
	          <li class="nav-item">
	            <a class="nav-link" href="/users/register">Register</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/users/login">Login</a>
	          </li>
          {{/if}}

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


      <div class="container" style="padding-top: 100px;">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-12">

          	{{#if success_msg}}
          		<div class="alert alert-success">{{success_msg}}</div>
          	{{/if}}

          	{{#if error_msg}}
          		<div class="alert alert-danger">{{error_msg}}</div>
          	{{/if}}

          	{{#if error}}
          		<div class="alert alert-success">{{error}}</div>
          	{{/if}}

            {{{body}}}
        </div>

         <footer class="container" style="text-align: center">
      <p>&copy; Company 2017-2018</p>
    </footer>

      </div> <!-- /container -->
  </body>
</html>